.card{
  
  display:flex;
  margin:20px;

}
.container{
  width: 250px;
  display:flex;
  background-color:rgb(91, 91, 235);
  flex-direction:column;
  

}
.poster img{
  width:250px;
} 
.info{
  display:flex;
  height:30px;
  justify-content: space-between;
  
}
.overview{
  display: none;
}


