.card{
  
  display:flex;
  margin:20px;

}
.container{
  width: 250px;
  display:flex;
  background-color:rgb(91, 91, 235);
  flex-direction:column;
  height:350px;
  overflow: hidden;
  position:relative;
  transition:.2s ease-in-out;
  

}
.poster img{
  width:250px;
  height:300px;
} 
.info{
  display:flex;
  margin:5px;
  justify-content: space-between;
 
}
.overview{
  transform:translateY(-100%);
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  background-color: rgb(70, 70, 184);
  opacity:0.6;
}
.h3{
  font-size:18px;
}

.container:hover .overview{
  transform:translateY(0%);
}

